.deliveryContainer {
  padding: 12px 20px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .params {
      padding: 5px 0px;
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 13px;
      font-weight: 700;

      .rowParam {
        display: flex;
        flex-direction: row;

        .title {
          width: 40%;
          text-align: left;
        }
      }
    }
  }

  .tableTitle {
    font-weight: 700;
    font-size: 13px;
    margin: 10px 0px;
  }

  .tableWrapper {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
    font-size: 12px;

    .tableQueue {
      width: 100%;
      border-collapse: collapse;
  
      thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
      }
  
      .evenRow {
        background-color: #f0f0f0;
      }
  
      .selectedRow {
        background-color: #66bd56;
      }
  
      th {
        background-color: #6796f7;
        box-shadow: 0px 0px 0 2px #e8e8e8;
        color: #fff;
        padding: 2px 4px;
      }
  
      .thNo {
        width: 40px;
      }
      // .thSeri {
      //   width: 65px;
      // }
      // .thFarmer {
      //   width: 100px;
      // }
      // .thProductType {
      //   width: 70px;
      // }
      // .thGrade {
      //   width: 80px;
      // }
      // .thPrice {
      //   width: 60px;
      // }
      // .thBK {
      //   width: 40px;
      // }
      // .thStatus {
      //   width: 60px;
      // }
      // .thInvoice {
      //   width: 60px;
      // }
      // .thAction {
      //   width: 100px;
      // }

      .tdNo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
      }
    }
  
    .tableQueue td {
      border: 1px solid #ddd;
      padding: 4px 2px;
    }
  
    .tableQueue th {
      border: 1px solid #ddd;
    }
  }
}

.horizontalLine {
  height: 1px;
  background: #626568;
  opacity: 15%;
  width: 100%;
}

.flex15 {
  flex: 1.5
}

.flex2 {
  flex: 2
}

.flex3 {
  flex: 3;
}

.textAlignEnd {
  text-align: end;
}

.textWeight600 {
  font-weight: 600;
}