.farmerInput {
  flex: 0.4;
}

.partnerSelect {
  flex: 1;
}

.typeSelect {
  flex: 1;
}

.totalInput {
  flex: 1;
}

.container {
  margin-top: 40px;
  padding-right: 10px;
  max-height: 70vh;
  overflow: scroll;
}